Working with NASA API

In [ ]:
import requests
import json

In [ ]:
url = r"https://data.nasa.gov/resource/y77d-th95.json"

In [ ]:
response = requests.get(url)
response

In [ ]:
str_nasa = response.text
str_nasa

In [ ]:
NASAdata = json.loads(str_nasa)
NASAdata

In [ ]:
# check the data type
type(NASAdata)

In [ ]:
# check list length
len(NASAdata)

In [ ]:
# create an empty list 

ID = []
Year = []
Fall = []
Name = []
Name_Type = []
Mass = []
Latitude = []
Longitude = []
Type = []

In [ ]:
# creat a for loop and append values accordingly

for lists in range(len(NASAdata)):
    # id data list
    try:
        Id = NASAdata[lists]['id']
    except:
        Id = None
    ID.append(Id)
    # year data list
    try:
        yr = NASAdata[lists]['year']
    except:
        yr = None
    Year.append(yr)
    # fall data list
    try:
        fa = NASAdata[lists]['fall']
    except:
        fa = None
    Fall.append(fa)
    # name data list
    try:
        na = NASAdata[lists]['name']
    except:
        na = None
    Name.append(na)
    # type data list
    try:
        ty = NASAdata[lists]['nametype']
    except:
        ty = None
    Name_Type.append(ty)
    # mass data list
    try:
        ma = NASAdata[lists]['mass']
    except:
        ma = None
    Mass.append(ma)
    # latitutde data list
    try:
        la = NASAdata[lists]['reclat']
    except:
        la = None
    Latitude.append(la)
    # longtiude data list 
    try:
        lo = NASAdata[lists]['reclong']
    except:
        lo = None
    Longitude.append(lo)
    # class data list 
    try:
        cl = NASAdata[lists]['recclass']
    except:
        cl = None
    Type.append(cl)

In [ ]:
# check the rows are equal

print(len(ID))
print(len(Year))
print(len(Fall))
print(len(Name))
print(len(Name_Type))
print(len(Mass))
print(len(Latitude))
print(len(Longitude))
print(len(Type))

In [ ]:
# zip all lists togather and made list of lists
NASAlist = list(zip(ID,Year,Fall,Name,Name_Type,Mass,Latitude,Longitude,Type))

colnames = ['ID','Year','Fall','Name','Name_Type','Mass','Latitude','Longitude','Type']

In [ ]:
# make the list into a dataframe
import pandas as pd 

df = pd.DataFrame(NASAlist, columns=colnames)

df.head()